<!doctype html>
<html lang="en">

<head th:replace="/fragments/head"></head>

<body>
    <nav th:replace="/fragments/nav"></nav>

    <main role="main">


        <div class="container mt-4">
            <h1 class="display-2">Edit the blog</h1>
            <a href="/admin/blog" class="btn btn-primary mb-5">Back to Blogs</a>

            <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}">
            </div>

            <form method="post" th:object="${blogForm}" th:action="@{/admin/blog/edit}">
                <input type="hidden" th:field="*{id}">
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        There are errors
                </div>
                <div class="form-group">
                    <label for="">Title</label>
                    <input type="text" class="form-control" th:field="*{title}" placeholder="Title">
                    <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                </div>
                <div class="form-group">
                    <label for="">Brief</label>
                    <input type="text" class="form-control" th:field="*{brief}" placeholder="Brief">
                    <span class="text-danger" th:if="${#fields.hasErrors('brief')}" th:errors="*{brief}"></span>
                </div>
                <div class="form-group">
                    <label for="">Content</label>
                    <textarea rows="10" class="form-control" th:field="*{content}" placeholder="content"></textarea>
                    <span class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
                </div>
                <div class="form-group">
                    <label for="">Category</label>
                    <select th:field="*{categoryId}">
                        <option th:value="0">Choose a category</option>
                        <option th:each="cat: ${categories}" th:value="${cat.id}" th:text="${cat.name}">Choose a category</option>
                    </select>
                    <span class="text-danger" th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}"></span>
                </div>
                
                <button class="btn btn-danger mb-5">Edit</button>
            </form>
        </div>

    </main>
    <footer th:replace="/fragments/footer"></footer>
    <script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
    <script th:src="@{/js/editor_trigger.js}"></script>
</body>

</html>