<!doctype html>
<html lang="en">

<head th:replace="/fragments/head"></head>

<body>
    <nav th:replace="/fragments/nav"></nav>

    <main role="main">


        <div class="container mt-4">
            <div class="card bg-primary text-white my-4 mx-auto c-card-no-border c-card-click c-card-admin" href="/admin/blog">
                <div class="card-img-overlay">
                    <h5 class="card-title">BLOGS</h5>
                    <p class="card-text">To add, edit, or delete your blogs</p>
                </div>
            </div>

            <div class="card bg-secondary text-white mx-auto c-card-no-border my-4 c-card-click c-card-admin" href="/admin/category">
                <div class="card-img-overlay">
                    <h5 class="card-title">CATEGORIES</h5>
                    <p class="card-text">To add, edit, or delete your categories</p>
                </div>
            </div>


            <div class="card bg-success text-white mx-auto c-card-no-border my-4 c-card-click c-card-admin" href="/admin/tag">
                <div class="card-img-overlay">
                    <h5 class="card-title">TAGS</h5>
                    <p class="card-text">To add, edit, or delete tags</p>
                </div>
            </div>


            <div class="card bg-info text-white mx-auto c-card-no-border my-4 c-card-click c-card-admin" href="/admin/widget">
                <div class="card-img-overlay">
                    <h5 class="card-title">Widgets</h5>
                    <p class="card-text">To toggle or edit widgets</p>
                </div>
            </div>
        </div>

    </main>
    <footer th:replace="/fragments/footer"></footer>
</body>

</html>