<!doctype html>
<html lang="en">

<head th:replace="/fragments/head"></head>

<body>
    <nav th:replace="/fragments/nav"></nav>

    <main role="main">


        <div class="container mt-4">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <h1 class="mt-4" th:text="${blog.title}">Title</h1>
                    <hr>
                    <p th:text="'Posted on ' + ${#dates.format(blog.createdTime, 'yyyy-MM-dd HH:mm')}"> post time</p>
                    <hr>
                    <img class="img-fluid rounded" src="https://picsum.photos/900/300" alt="">
                    <hr>
                    <div th:utext="${blog.content}">blog content</div>
                    <hr>
                    <div class="media mb-4" th:each="comment:${blog.commentList}">
                        <img class="d-flex mr-3 rounded-circle c_avatar" src="https://picsum.photos/50/50" alt="" th:attr="email = ${comment.email}">
                        <div class="media-body">
                          <h5 class="mt-0"><a th:text="${comment.name}" th:href="${comment.website}">Commenter Name</a></h5>
                          <p th:text="${comment.content}">comment content</p>
                        </div>
                      </div>

                    <hr>
                </div>
                <div th:replace="/fragments/widgets"></div>
            </div>

        </div>

    </main>
    <footer th:replace="/fragments/footer"></footer>
    <script th:src="@{/js/md5.js}"></script>
    <script>
    $(function(){

        $("img.c_avatar").each(function(){
            $(this).attr("src","https://www.gravatar.com/avatar/" + md5($(this).attr("email")) + "?s=50&d=identicon");
        });
    });
    </script>
</body>

</html>