<!doctype html>
<html lang="en">

<head th:replace="/fragments/head"></head>

<body>
    <nav th:replace="/fragments/nav"></nav>

    <main role="main">


        <div class="container mt-4">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="my-3" th:text="'Category: ' + ${category.name}"> </h1>
                    <div th:each="blog : ${category.blogList}" th:object="${blog}">
                        <div class="card my-4">
                            <img src="https://picsum.photos/500/200" class="card-img-top" alt="">
                            <div class="card-body">
                                <h4 class="card-title" th:text="*{title}"></h4>
                                <p class="card-text" th:utext="*{brief}"></p>
                                <a th:href="@{'/blog/' + *{id}}" class="btn btn-primary">Read More</a>
                            </div>
                            <div class="card-footer">
                                <span class="mr-2" th:text="'Posted on ' + ${#dates.format(blog.createdTime, 'yyyy-MM-dd HH:mm')}"></span>
                                <button type="button" class="btn btn-sm btn-outline-primary">Tag1</button>
                                <button type="button" class="btn btn-sm btn-outline-primary">Tag2</button>
                                <button type="button" class="btn btn-sm btn-outline-primary">Tag3</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:replace="/fragments/widgets"></div>
            </div>

        </div>

    </main>
    <footer th:replace="/fragments/footer"></footer>
</body>

</html>